#canvas1 {
    border: 2px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: #D3D3D3;
    margin: 0 auto;
    display: block;
    margin-top: 4px;

  }
  #canvas3 {
    border: 2px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: #D3D3D3;

  }

  #background {
    background-color: blue;
    width: 800px; 
    height: 600px;
    margin-left: 600px;
  }

  #background2 {

    margin-top: -600px;
    margin-left: 180px;

  }
  

  @font-face {
    font-family: 'pokemon';
    src: url('fonts/PokemonSolid.ttf');
  }

  body {
    font-family: 'pokemon', sans-serif;
  }

  #enemy-life-bar {
    width: 200px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #333;
    position: absolute;
    margin-top: 100px;
    margin-left: 250px;
    z-index: 3;
    display: none;
  }
  
  #enemy-life-bar .lifeenemy {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: rgb(251, 255, 0);
  }
  
  #enemy-life-bar .porcentenemy {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    font-weight: bold;
    color: rgb(3, 0, 0);
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }

  
  #player-life-bar {
    width: 200px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #333;
    position: absolute;
    margin-top: 570px;
    margin-left: 250px;
    z-index: 3;
    display: none;
  }
  
  #player-life-bar .lifeplayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: rgb(0, 196, 75);
  }
  
  #player-life-bar .porcentplayer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    font-weight: bold;
    color: rgb(3, 0, 0);
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }

  #menu {

    width: 200px;
    height: 20px;
    font-style:arial;
    position: absolute;
    margin-top: 150px;
    margin-left: 250px;
    z-index: 3;

  }
  #menu1 {
    display: none;
  }

  
.colortexto {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  
}

.boton-juego {
  background-color: #f44336; /* Fondo rojo */
  border: none; /* Sin borde */
  color: white; /* Texto blanco */
  padding: 12px 24px; /* Espacio interno */
  text-align: center; /* Centrar el texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como bloque */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Margen */
  transition-duration: 0.4s; /* Duración de la transición */
  cursor: pointer; /* Cursor de selección */
}

.boton-juego:hover {
  background-color: white; /* Fondo blanco */
  color: #f44336; /* Texto rojo */
  border: 2px solid #f44336; /* Borde rojo */
}